# Ignore Python cache files
__pycache__/
*.py[cod]
*.so

# Ignore virtual environment
license-plate-recognition/
.env/
.venv/
env/
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore VS Code settings (if you use VS Code)
.vscode/

# Ignore Mac/Windows junk files
.DS_Store
Thumbs.db

