# Ignore Python cache files
__pycache__/
*.py[cod]
*.so

# Ignore virtual environment
license-plate-recognition/
.env/
.venv/
env/
venv/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore junk files
.DS_Store
Thumbs.db

